<%-include("../_layouts/adminheader.ejs") %>

<h2 class="page-title"> Edit  Product</h2>
<a href="/admin/products" class="btn btn-primary">Back to all Products</a>
<br><br>

<form method="post" action="/admin/products/edit-product/<%=id %>" enctype="multipart/form-data">
<div class="form-group">
  <label for="">Product</label>
  <input type="text" class="form-control" name="title" value="<%=title %>" placeholder="Title" autocomplete="off" required>
</div>

<div class="form-group">
  <label for="">Price</label>
  <input type="text" class="form-control" name="price" value="<%=price %>" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  placeholder="Price Only Number">
</div>

<div class="form-group">
  <label for="">Category</label>
  <select name="category" class="form-control" required>
    <option></option>
    <% categories.forEach(cat => { %>
     <option value="<%= cat.slug %>"><%= cat.title %>  </option>
    <% }) %>    
  </select>
  <figcaption> Don't forget to choose Categories</figcaption>
  </div>
  <div class="form-group">
    <label for="">Image</label>
    <input type="file" class="form-control" name="image" id="img" accept="image/*" value="" required >
    <figcaption> Have to upload new Photo</figcaption>
    <img src="<%= imageUrl %>" width="100" height="100" id="imgPreview" alt="">
</div>
  <button class="btn btn-default">Submit</button>


</form>
<script>
    
  function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function(e) {
              $("#imgPreview").attr('src', e.target.result).width(100).height(100);
          }
          
          reader.readAsDataURL(input.files[0]);
      }
  }
  
  $("#img").change(function() {
      readURL(this);
  });
  
</script>
<%-include("../_layouts/adminfooter.ejs") %>