<%-include("../_layouts/adminheader.ejs") %>

<h2 class="page-title">Pages</h2>
<a href="/admin/pages/add-page" class="btn btn-primary">Add a new Page</a>
<br><br>

<table class="table table-striped sorting">
<thead>
  <tr class="home">
    <th>Title</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</thead>
  <tbody>
 <% pages.forEach((page) => { %>
  <tr id="<%= page._id %> " class="<%= page.slug %>"  >
    <td><%= page.title %> </td>
    <td><a href="/admin/pages/edit-page/<%= page.id %> ">Edit</a></td>
    <% if (page.title=="Home") { %>
      <td></td>
    <% }else{ %>
      <form action="delete" method="post"></form>
    <td ><a href="/admin/page/delete-page/<%= page._id %> ">Delete</a></form></td>
    <% } %> 
  </tr>  
 
 <% }) %>
  </tbody>
</table>

<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script>
    $('tbody').sortable()
  </script>



<%-include("../_layouts/adminfooter.ejs") %>