<%-include("../_layouts/adminheader.ejs") %>

<h2 class="page-title">Products</h2>
<a href="/admin/products/add-product" class="btn btn-primary">Add a new Product</a>
<br><br>


 <% if (products.length>0) { %>
  
   
 

  
  <table class="table table-striped">
  <thead>
    <tr class="home">
      <th>Product</th>
      <th>Price</th>
      <th>Category</th>
      <th>Product Image</th>
      <th>Quantity</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
 
    <% products.forEach((product) => { %>
      <tr>
        <td><%= product.title %> </td>
        <td>£<%=parseFloat(product.price).toFixed(2)  %> </td>
        <td><%= product.category %> </td> 
        <td>
          <img src="<%= product.imageUrl %>" width="150" height="150" />
        </td>
        <td><%= product.quantity %></td>
        <td><a href="/admin/products/edit-product/<%= product.id %>">Edit</a></td>
        <td ><a class="confirmedDeletion" href="/admin/products/delete-product/<%= product._id %> ">Delete</a></form></td>
      </tr>  
        <% }); %> 
  
  </tbody>
  </table>
 
  <% }else{ %> 
    <h3 class="text-center">There is no product</h3>
    <% } %> 
  
  



<%-include("../_layouts/adminfooter.ejs") %>